body {
	//background-color: #222;
	background: rgb(0,0,0);
	background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(45,41,51,0) 100%);
	margin: 0;
	overflow: hidden;
}

#controlKit {
	display: none;
}
